<main>
   <!-- header section of services-->
    <div id="pageHeader" class="pageHeader">
    <div class="container text-light py-4 ">
        <div class="row py-4 justify-content-center ">
            <div class="col-lg-6 text-center">
                <h2 style="font-size: 56px;" class="rotateIn ">Services</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. voluptatibus iure
                    perferendis voluptas quos vero consectetur adipisicing elit. adipisicing elit consectetur adipisicing elit. adipisicing elitnostrum dolore libero! Adipisci, sint!</p>
                <a>Available for hire</a>
            </div>
        </div>
    </div>
    </div>
<section id="services" class="secvices">
    <div class="container">
        <div class="row gy-4 d-flex">
              <div class="col-xl-3 col-md-6">
                <div class="service-items">
                    <i class="bi bi-activity"></i>
                    <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
              </div>

              <div class="col-xl-3 col-md-6">
                <div class="service-items">
                    <i class="bi bi-bounding-box-circles"></i>
                    <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
              </div>

              <div class="col-xl-3 col-md-6">
                <div class="service-items">
                    <i class="bi bi-calendar4-week"></i>
                    <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
              </div>

              <div class="col-xl-3 col-md-6">
                <div class="service-items">
                    <i class="bi bi-broadcast"></i>
                    <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
              </div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing">
    <div class="container">

      <div class="section-header">
        <h2>Prices</h2>
        <hr style="
        border-top: 4px solid#45A29E;">
        <p>Check my adorable pricing</p>
      </div>

      <div class="row gy-4 gx-lg-5">

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Portrait Photography</h3>
            <h4>$160.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Fashion Photography</h3>
            <h4>$300.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Sports Photography</h3>
            <h4>$200.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Still Life Photography</h3>
            <h4>$120.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Wedding Photography</h3>
            <h4>$500.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Photojournalism</h3>
            <h4>$200.00</h4>
          </div>
        </div><!-- End Pricing Item -->

      </div>
  </div>
</section>
</main>