<!--------------------------------------------hero section end-------------------------------------------------- -->

<main>
     <!-- header section of home -->
   <div id="pageHeader" class="pageHeader">
        <div class="container text-light py-4 ">
            <div class="row py-4 justify-content-center ">
                <div class="col-lg-6 text-center">
                    <h2 style="font-size: 45px;" class="rotateIn">I'm
                        <span>Jenny Wilson</span> a Professional Photographer from New York City
                    </h2>
                    <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui
                        libero. Qui voluptas amet.</p>
                    <a>Available for hire</a>
                </div>
            </div>
        </div>
        </div>
    <!-- galley section start -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-5 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    
                    <div class="gallery-item h-100 text-center" routerLink="carousel">
                        <a href="#" class="btn gallery-btn">click me  <i class="bi bi-link-45deg gallery-link" style="color: white; font-size: 30px; padding-top: 20px;" ></i></a>
                       
                       <img src="../../../assets/gal11.jpeg" alt=""  class="img-fluid rounded"
                            style="max-height: 100%;">
                         
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/gal12.jpeg" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card1.jpeg" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/gal13.webp" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card9.jpeg" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/gal13.webp" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/gal8.jpeg" alt="" class="img-fluid rounded" style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/gal5.jpeg" alt="" class="img-fluid rounded" style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/gal13.webp" alt="" class="img-fluid rounded" style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card2.jpeg" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card8.webp" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card7.jpeg" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card6.webp" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card5.jpeg" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card4.webp" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100" routerLink="carousel">
                        <img src="../../../assets/card2.jpeg" alt="" class="img-fluid rounded"
                            style="max-height: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------gellary section end ---------------------------------------------->
</main>


