<main  >
    <div id="pageHeader" class="pageHeader">
        <div class="container text-light py-4 ">
            <div class="row py-4 justify-content-center ">
                <div class="col-lg-6 text-center">
                    <h2 style="font-size: 45px;" class="rotateIn">
                        Snap, Frame, Impress.
                    </h2>
                    <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui
                        libero. Qui voluptas illum tempore incidunt debitis dolorem magni est deserunt sed qui amet.</p>
                    </div>
            </div>
        </div>
        </div>
    <div id="carouselExampleControls" class="carousel slide w-50 rounded " data-bs-ride="carousel" style="margin-left: 25%; ">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/gal11.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/gal12.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/card1.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/gal13.webp" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/card9.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/gal8.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/gal5.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/card2.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/card8.webp" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/card7.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/card6.webp" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/f1.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/gal12.jpeg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/gal1.webp" class="d-block w-100 rounded" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
     
        <div class="container text-light py-4 ">
            <div class="row py-4 justify-content-center ">
                <div class="col-lg-6 text-center">
                    <h2 style="font-size: 45px;" class="rotateIn">
                        Framing life, one click at a time
                    </h2>
                    <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui
                        libero. Qui voluptas illum tempore incidunt debitis dolorem magni est deserunt sed  Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui
                        libero. Qui voluptas illum tempore qui ametqui amet.</p>
                    </div>
            </div>
        </div>
        <main class="bg-black">

            <div class="container ">
                <div class="row gy-4">
                    <div class="section-header">
                        <h2>Testimonial</h2>
                        <hr>
                        <p>What they say</p>
                    </div>
                </div>
            </div>
            <section class="container d-flex justify-content-center testi ">
                <div class="testimonial">
                    <div class="testi-content ">
                        <div class="slide">
                        <img src="../../../assets/testimonial4.jpeg" alt="" class="Timages">
                        <img src="../../../assets/testimonial5.jpeg" alt="" class="Timages" >
                        <img src="../../../assets/testionial6.jpeg" alt="" class="Timages" >
                        <img src="../../../../assets/card4.webp" alt="" class="Timages">
                        <img src="../../../../assets/f3.webp" alt="" class="Timages" >
                        <img src="../../../../assets/f5.webp" alt="" class="Timages" >
                          
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
                </div>
            </section>
        
        </main>
       
</main>