<main style="padding: 150px;" class="wedding">
    <div class="container header">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                
                <h2 class="rotateIn ">Wedding Photography </h2>
                    <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui
                        libero. Qui voluptas amet.</p>
                        <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">

            
           <div class="container py-4 ">
            <div class="row justify-content-center ">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w7.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w8.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w9.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
              </div>
           </div>
            <div class="container py-4 ">
            <div class="row justify-content-center ">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w3.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w2.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w6.webp" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
         
             </div>
           </div>

           <div class="container py-4 ">
            <div class="row justify-content-center ">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w1.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w4.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <img src="../../../../assets/w3.jpeg" alt="" class="img-fluid rounded"
                    style="max-height: 100%;">
                </div>
              </div>
           </div>
        </div>
    </div>
</main>
